{% extends 'base.html' %}

{% load staticfiles %}
{% load blog_tags %}

{% block content%}
 <style>
   body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.card {
  height: 100%;
}

  </style>


 <!-- Page Content -->
    <div class="container">

      <!-- Page Features -->
      <div class="row text-center">

    {% for post in posts %}

    <!-- <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="{{ post.image.url }}" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div> -->

    <div class="col-sm-3 col-mb-3">
      <div class="card  text-center">
        <div class="card-heading card-primary ">{{post.title}}</div>
        <div class="card-block"><img class="img-thumbnail"  src="{{ post.image.url }}" alt="{{ post.title }} image"></div>
        <div class="card-footer">{{post.description}} <br/> <div><button type="button" class="btn btn-primary btn-sm">Find Out More!</a></div></div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>
<br><br>

<footer class="container-fluid text-center">
  <p>Online Store Copyright</p>
  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form>
</footer>


{% endblock %}
